/* dodawnie zminnych do CSS, dzieki czemu łatwo zarządzamy nasza aplikacją kolejność nie ma znaczenia. Ważne żeby był na początku pliku */
:root {
    --primary-color: rgb(20, 19, 19);
    --destription-color: rgb(42, 26, 26);
    --hover-color: rgb(35, 33, 177);
    --header-color: rgb(235, 220, 220);
    --font-size: 19px;
    --font-size-s: 14px;
    --font-family: 'Ubuntu', sans-serif;

}
/* font size ustala wielkość el. tekstu na stronie, podanie go w html tag,
 powoduje, że każdy el. na stonie ma font size równy 19px*/
html {
    font-size: var(--font-size);
}
/*

*/
body {
    margin: 0;
    font-family: var(--font-family);
    color: var(--primary-color);

}
/* 
    pierwszy sposób ułożenie el. blokowych obok siebie 
    wyświetlenie el. blokowych za pomoca display, jako inline-block, 
    dzięki czemu są obok siebie i nadal możemy utalać ich szerokość.
*/
.list-itemNav {
    display: inline-block;
    width: 24%;
    text-align: center;

}



.main-nav{
    height: 70px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(106,75,37,0.44021358543417366) 100%);
}
.main-nav .list {
    margin: 0;
    padding: 0;
    font-size: 2rem;
  
}
/*text-decoration: none usuwa podkreślenie pod linkami*/
.list-link {
    text-decoration: none;
}
/* psudoklasy */
/* pseudoklasa visited odpowiada za wyświetlanie linku po odwiedzeniu*/
.list-link:visited {
    color: var(--primary-color);
}
/* pseudoklasa hover odpowiada za wyświetlanie linku po najechaniu */
.list-link:hover {
    color: var(--hover-color);
}

/* koniec stylowania nav*/

/* 
background-size: cover; dopasowuje podane zdjecie do szerokości max kontenra w którym się znajduje
 height: 80vh; ustala wyskokoć na 80% wyskości okna przeglądarki, bez wzgledu na ekra na który, 
 position: relative; jest ustawieni nadrzędności class header-bg nad dzieckiem tj. class header-text
*/
.header-bg {
    height: 80vh;
    background: rgb(0,0,0);
    background: linear-gradient(207deg, rgba(0,0,0,1) 8%, rgba(255,255,255,1) 66%);
}
/*
position: absolute; el.  class header-text jest wpełni zależny od class header-bg
dostajemy mozliwość manipulacji left, top. rigth, botom dzięki czemu mozmy ustawić w header-bg 
nasza class eader-text  gdzie chemy
transform: translate(-50%, -50%); przesunięcie według orgina;lnej osi x,y o 50 procent ( własnej szerokości )
o -50% w lewo i -50% w górę
*/
.header-text {
    position: absolute;
    color: var(--hover-color);
    font-weight: bold;
    font-size: 2.5rem;
    padding: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.header-text--span {
    color: var(--destription-color);
}
.header-text--paragraf:hover {
    color: yellowgreen;
    cursor: pointer;
}

/* koniec headera */

.section-skils {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}


.skil-title-aniamation1:hover {
    animation: changeColor 2000ms linear 500ms normal forwards;
}
.skil-title-aniamation2:hover {
    animation: changeColor 2000ms linear 500ms normal forwards;
}
.skil-title-aniamation3:hover {
    animation: changeColor 2000ms linear 500ms normal forwards;
}
.skil-title-aniamation4:hover {
    animation: changeColor 2000ms linear 500ms normal forwards;
}
.skil-title-aniamation5:hover {
    animation: changeColor 2000ms linear 500ms normal forwards;
}
.skil-title-aniamation6:hover {
    animation: changeColor 2000ms linear 500ms normal forwards;
}

/*animacja */
@keyframes changeColor {
    0% {
        color: var(--primary-color);
    }
    25% {
        color: rgb(120, 19, 19);;
    }
    50% {
        color: rgb(220, 19, 19);;
    }
    100% {
        color: rgb(255, 200, 100);;
    }
}
/* animacje od fontawesome*/
/* .section-skils > div:hover .skil-icon {
    -webkit-animation: fa-spin 1s infinite linear;
    -moz-animation: fa-spin 1s infinite linear;
    -o-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
} */
.menu-mobile {
    width: 50px;

}
/* w class skil-icon znajduje sie tag <i>
transition-duration: 2s; w przypadku zminy wyglądu na :hover czas przejścia będzie 2 sekundy
*/
.skil-icon i {
    color: var(--hover-color);
    transition-duration: 2s;
}
.skil-icon i:hover {
    animation: zoomAndRotate 2000ms linear;
}

@keyframes zoomAndRotate {

    0% {

    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(3) rotate(360deg);
   
    }
       
        
}
footer {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(106,75,37,0.44021358543417366) 100%);
    display: grid;
    grid-template-columns: 60% 40%;
    text-align: center;
}

.list {
    list-style: none;
}
/* cała zawartość ul z nasza nawigacją jest nie widoczna chyba że ekran 
jest szerszy nic 670px*/
.main-nav .list {
    display: none;
}

/*@media (min-width: 680px) wszystko co jest w nawiasach klamrowych zrobi się na widokach 
powyżej 680px szerokości */
@media (min-width: 680px) {
    .list {
        display: block;
    }
    .menu-mobile {
        display: none;
        
    }
    .section-skils {
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
    }
    footer .list {
        display: grid;
        grid-template-columns: 50% 50%;
        
    }
}

/* // kod wykonany powyżej bedzie wykonywał sie na najmnijszych rozdzielczościach */
/*@media (min-width: 992px) wszystko co jest w nawiasach klamrowych zrobi się na widokach 
powyżej 992px szerokości */
@media (min-width: 992px) {
    .section-skils {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
    }
    .skils-best {
        grid-column: 2/5;
    }
    .header-bg {
        height: 80vh;
        background-image: url(sunset-g3ec1f9d5e_1920.jpg);
        background-size: cover;
        position: relative;
    }
}
/*@media (min-width: 992px) wszystko co jest w nawiasach klamrowych zrobi się na widokach 
powyżej 680px szerokości */
@media (min-width: 680px) {

}
#desc-sql, #show-less-sql {
    display: none;
}