/* dodawnie zminnych do CSS, dzieki czemu łatwo zarządzamy nasza aplikacją kolejność nie ma znaczenia. Ważne żeby był na początku pliku */
:root {
    --primary-color: rgb(20, 19, 19);
    --destription-color: rgb(42, 26, 26);
    --hover-color: rgb(35, 33, 177);
    --font-size: 19px;
    --font-size-s: 14px;
    --font-family: 'Ubuntu', sans-serif;
}
/* font size ustala wielkość el. tekstu na stronie, podanie go w html tag,
 powoduje, że każdy el. na stonie ma font size równy 19px*/
html {
    font-size: var(--font-size);
}
/*

*/
body {
    margin: 0;
    font-family: var(--font-family);
    color: var(--primary-color);

}
/* 
    pierwszy sposób ułożenie el. blokowych obok siebie 
    wyświetlenie el. blokowych za pomoca display, jako inline-block, 
    dzięki czemu są obok siebie i nadal możemy utalać ich szerokość.
*/
.list-itemNav {
    display: inline-block;
    width: 24%;
    text-align: center;

}
.main-nav{
    height: 70px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(106,75,37,0.44021358543417366) 100%);
}
.main-nav .list {
    margin: 0;
    padding: 0;
    font-size: 2rem;
  
}
/*text-decoration: none usuwa podkreślenie pod linkami*/
.list-link {
    text-decoration: none;
}
/* psudoklasy */
/* pseudoklasa visited odpowiada za wyświetlanie linku po odwiedzeniu*/
.list-link:visited {
    color: var(--primary-color);
}
/* pseudoklasa hover odpowiada za wyświetlanie linku po najechaniu */
.list-link:hover {
    color: var(--hover-color);
}